@charset "utf-8";
header {
	text-align: center;
}

h4.Profession {
	font-size: 24px;
	text-align: center;
	color: #3c3c3c;
	letter-spacing: 6px;
}
h1.Name {
	color: #3c3c3c;
	padding-top: 100px;
}
a:hover {
	background-color: darkgray;
}
a.Active:link, a.Active:active, a.Active:visited {
	background-color: lightgray;
}
a {
	background-color: white;
	padding: 8px;
	font-family: "Raleway";
	font-size: 15px;
}
a:link, a:visited, a:active {
	color: black;
	text-decoration: none;
	font-family: "Raleway";
}
div.slider-names {
	padding: 8px 16px;
	width: auto;
	padding-left: 0px;
	padding-right: 0px;
	border: 1px solid #ccc;
	display: inline-table;
	margin-bottom: 50px;
}
div.slide {
	margin-left: 15%;
	margin-right: 15%;
	border: none;
}
div.slide::after {
	content: "";
	clear: both;
	display: table;
}
#slider {
	border: none;
}
.slide {
	display: none;
}
.slide.active {
	display: block;
}

nav.arrows {
	border: none;
	font-size: 25px;
	text-align: center;
	margin-bottom: 10px;
}
#left-arrow, #right-arrow, #divName {
	font-family: Raleway;
	display: inline;
	cursor: pointer;
}
h1 {
	font-size: 40px;
}
h2 {
	font-size: 30px;
}
div.reveal {
	
	width: 100%;
	height: 100%;
	transform: scale(0.9);
	transition: transform 0.4s cubic-bezier(0, 0, 0.3, 1);
	position: relative;
}

div.reveal::before {
	content: '';
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
}
div.reveal img {
	box-shadow: 0px 0px 15px 5px #888888;
	position: relative;
	display: block;
  	margin-left: auto;
 	margin-right: auto;
  	width: 40%;
}

div.reveal:hover {
	transform: scale(1);
}

div.reveal:hover::before {
	transform: translateY(12px);
	opacity: 0.2;
}

div.reveal_text-bg {
	background: #333;
	font-family: "Raleway";
	position: absolute;
	top: calc(50% - 150px);
	height: 300px;
	width: 100%;
	font-size: 36px;
	color: white;
	z-index: 1;
	display: flex;
	left: 50%;
	transition: transform 0.4s cubic-bezier(0, 0, 0.3, 1);
	transform: translateX(-150%) skew(-30deg);
	overflow: hidden;
}

div.reveal_text 
{
	width: 100%;
	text-align: center;
	transition: transform 0.4s cubic-bezier(0, 0, 0.3, 1);
	transform: translateX(100%) skew(30deg);
}

div.reveal:hover div.reveal_text-bg {
	transform: translateX(-50%) skew(-30deg);
}

div.reveal:hover div.reveal_text {
	transform: skew(30deg);
}
