html, body {
  background-image: url("../assets/bg.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

#ALL
{
  color: white;
  font-weight: bold;
  position: absolute;
  top: 0%;
  left: 50%;
  transform: translate(-50%, 0%);
  z-index: 2;
  width: 80%;
  padding: 20px;
  text-align: center;
}
